server:
  port: 80
spring:
  application:
    #应用的名称，可选
    name: reggie_take_out
  datasource:
    druid:
      driver-class-name: com.mysql.jdbc.Driver
      url: jdbc:mysql://localhost:3306/reggie?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull&useSSL=false&allowPublicKeyRetrieval=true
      username: root
      password: root
mybatis-plus:
  configuration:
    # 驼峰命名和底杠命名自动转换
    map-underscore-to-camel-case: true
    # Mybatis默认简单日志
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      # MybatisPlus 设置全局主键生成策略：雪花算法
      id-type: ASSIGN_ID

# 定义不登录就可以放行的请求，使用Spring提供的AntPathMatcher，支持统配
urlStr: /backend/**,/front/**,/employee/login,favicon.ico
management:
  endpoints:
    web:
      exposure:
        exclude: "*"
